


<div class="wrap">
  <!-- left sidebar main и right sideba-->
  <div class="wrap__left-sidebar left-sidebar"></div>
  <div class="wrap__main main">





    <div class="container-fluid" *ngFor="let comment of comments">
      <div class="row" *ngIf = "comment.parent_id == 0">

          <div class="col-12 comment">
            <div class="comment__info">
              <div class="comment__author">
                {{ comment.author_name }}
              </div>
              <div class="comment__date">
                {{ comment.date_time }}
              </div>
            </div>
            <div class="comment__content">
              {{ comment.body}}
            </div>
            <div class="add_answer" #addAnswerForm>
              <div class="comment__add-answer-form" *ngIf="answerFlag"> 
                <app-addcomment></app-addcomment>
              </div>
            </div>
            
            <button id="{{ comment.id  }}" class="comment__answer" (click)="addAnswer(addAnswerForm)">ответить</button>
          
            
            
          </div>
          
          <div class="container-fluid">
            <div class="row" *ngFor="let comment of answers(comment.id)">
              <div class="col-11 offset-1 comment">
                <div class="comment__info">
                  <div class="comment__author">
                    {{ comment.author_name }}
                  </div>
                  <div class="comment__date">
                    {{ comment.date_time }}
                  </div>
                </div>
                <div class="comment__content">
                  {{ comment.body}}
                </div>
                <button id="{{ comment.id  }}" class="comment__answer">ответить</button>
              </div>
            </div>
          </div> 





      </div>

    </div>

  
    <div class="container-fluid create_new_comment">
      <div class="row">
        <div class="col-12">
          {{ newComment }}
          <app-commentform [newComment]="newComment" (buttonClick)="createComment($event)"></app-commentform>
        </div>
        
      </div>
    </div>
  </div>
  <div class="wrap__right-sidebar right-sidebar"></div>
</div>